body > div { max-width: 90% !important; }
#main-content { max-width: 100% !important; }
.footer-article { max-width: 100% !important; }
.prev-next-area { max-width: 100% !important; }

.bd-toc {
    display: none !important;
    width: 0px !important;
}

.navbar-brand-box {
    padding-top: 60px !important;
    background-color: black;
    background-image: url(logo.png);
    background-position: top center;
    background-position-y: 10px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#site-title { color: white !important; }