name: Build Natively

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-py-script:
    strategy:
      matrix:
        os: [ubuntu-latest]
        gcc: ['7-2017-q4']
        cmake: ['3.23.1']
      fail-fast: true
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}, gcc ${{ matrix.gcc }}, cmake ${{ matrix.cmake || 'latest'}}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Setup arm-none-eabi-gcc ${{ matrix.gcc }}
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: ${{ matrix.gcc }}
      - name: Setup CMake ${{ matrix.cmake }}
        uses: jwlawson/actions-setup-cmake@v1
        with:
          cmake-version: ${{ matrix.cmake }}
      - name: Build using build.py
        run: python build.py
      - name: Install Missing Python and System Packages
        run: |
          python -m pip install sphinx breathe exhale sphinx_book_theme
          sudo apt-get update
          sudo apt-get install -y doxygen make
      - name: Patch out an assert that breaks the build
        run: |
          patch /opt/hostedtoolcache/Python/3.8.12/x64/lib/python3.8/site-packages/breathe/renderer/sphinxrenderer.py docs/sphinxrenderer.patch
      - name: Build Documentation
        working-directory: docs
        run: |
          make clean
          make html
      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: docs/build/html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}